<div class="row">
	<div class="col-12 col-lg-12">
		<h1 class="display-1">Fanazavana ny Fanorona</h1>
		<div class="container-fluid mt-3">
		  <h3 class="display-2">Ahoana ny fomba filalao?</h3>
		  <p class="display-3">Kilalao malagasy ity kilalao ity.</p> <p class="display-5">Saika ny malagasy rehetra dia milalao io kilalao io avokoa.</p><p class="display-5"> Izao ary no fomba filalao azy.</p>
		  <ol>
			  <li class="display-3">
			  	<p class="display-5">Mpilalao miisa roa ianareo no mandray anjara ao.</p>
			  </li>
			  <li class="display-3">
				<p class="display-5"> Ny mpandray anjara voalohany no manomboka ny lalao.</p>
			  </li>
			  <li class="display-3">
				<p class="display-5"> Ary ny mpandray anjara faharoa no manaraka avy eo.</p>
			  </li>
			  <li class="display-3">
				<p class="display-5"> Ny mpandray anjara rehetra, izany hoe izy roa dia mameno ny tabilao X na O araka ny fotoana hametrahany izany eo amin'ny tabilao.</p>
			  </li>
			  <li class="display-3">
				<p class="display-5"> Rehefa milahatra ny X na O miisa telo izay mitovy dia maharesy ny anankiray.</p>
			  </li>
			  <li class="display-3">
				<p class="display-5"> Milalaova finaritra ary.</p>
			  </li>
		  </ol>
		<a class="btn btn-dark text-center" href="/milalao"><div class='display-5 text-center'><i class="fa fa-play border border-white bg-success" style="border-radius: 100%; padding: 20px;"></i> 'Ndao hilalao</div></a>
		</div>
	</div>
</div>
