<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/custom.css">

  <script src="/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src="/jquery/dist/jquery.min.js">
  </script>
  <script src="/js/popper.min.js">
  </script>
  <script src="/js/Chart.min.js">
  </script>
  <script src="/js/Chart.bundle.min.js">
  </script>
  <script src="/js/custom.js">
  </script>
</head>
<body>

</body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div class="display-1">Fanorona</div></a>
    </div>
  </nav>
</header>
<main style="min-height: 70vh; width: 80vw" class="p-5 mx-auto">
  <%- body %>
</main>

<footer>
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <p class="display-3">&copy; Copyright 2025-2026 an'i Enock Razakamanana.</p>
    <p class="display-3">Kilalao vita malagasy ny fanorona ka ity kilalao ity dia namboarin'i Enock tamin'ny HTML5 sy CSS3 ary JAVASCRIPT.</p>
  </div>
</footer>
 
</html>

