<div class="row">
	<div class="col-12 col-lg-12">
		<h1 class="display-1">Fanorona</h1>
		<div class="row">
			<div class="col-12 col-lg-12">
				<ul class="nav gap-4 alert alert-info">
					<li class="nav-item border border-dark px-2 display-1"><div>Player 1: <br> <small id='player1'></small></div>X</li>
					<li class="nav-item border border-dark px-2 display-1"><div>Player 2: <br><small id='player2'></small></div>O</li>
				</ul>
			</div>
		</div>
		<div id="victory" class="container-fluid mt-3 alert alert-success">
		  <h3 class="display-2">Ry mpilalao X na O!</h3>
		  <p class="display-3">Arahabaina ianao fa nandresy!</p>
		  <a class="btn btn-secondary" href="/milalao"><div class="display-1"><i class="fa fa-refresh"></i>Averina</div></a>
		</div>
		<div id="draw" class="container-fluid mt-3 alert alert-info">
		  <h3 class="display-2">Ry mpilalao X na O!</h3>
		  <p class="display-3">Ady sahala!</p>
		  <a class="display-1 btn btn-secondary" href="/milalao"><div class="display-1"><i class="fa fa-refresh"></i>Averina</div></a>
		</div>
		<div id="information" class="container-fluid mt-3 alert alert-warning">
		  <h3 class="display-2">Ry Ronaldo X!</h3>
		  <p class="display-3">Toronao izao!</p>
		  <a class="btn btn-secondary" href="/milalao"><div class='display-1'><i class="fa fa-refresh"></i>Averina</div></a>
		</div>
		
		<div class="container-fluid mt-3 px-0">
		  <table id="board" class="card p-2">
		  	<tbody>
				<tr class="row">
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="isa">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="roa">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="telo">Basic card</div>
						</div>
					</td>
				</tr>
				<tr class="row">
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="efatra">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="dimy">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="enina">Basic card</div>
						</div>
					</td>
				</tr>
				<tr class="row">
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="fito">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="valo">Basic card</div>
						</div>
					</td>
					<td class="col text-center">
						<div class="card">
						  <div class="card-body" id="sivy">Basic card</div>
						</div>
					</td>
				</tr>
		  	</tbody>
		  </table>
		</div>
	</div>
</div>
